body {
    background: lightgray;

}
.main {
    border: 4px solid white;
    margin-left: 100px;
}
.c1{
    
    background: blue;
    height: 100px;
    width : 100px;
    /* margin-left: 30px; */
    left: 20px;
    position: absolute;
    /* position: relative; */
  
}
.c2 {
    background: yellow;
    height: 100px;
    width: 100px;

}