body {
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.box {
    height: 200px;
    width:150px;
    background: darkblue;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    animation: mern 2s infinite;;
}
@keyframes mern {
    0% {
        transform: translateY(0) skew(0deg, 0deg);
    }
    25% {
        transform: translateY(100px) skew(10deg, 5deg);
        background:white;;
    }
    50% {
        transform: translateY(100px) skew(40deg, 5deg);
    }
    75% {
        transform: translateY(100px) skew(50deg, 5deg);
        background: red;
    }
    100% {
        transform: translateY(100px) skew(80deg, 5deg);
    }
}